

h3 {
  font-family: 'Waiting for the Sunrise', cursive;
}

h2 {
  font-family: 'Waiting for the Sunrise', cursive;
}

h4 {
  font-family: 'IM Fell English SC', serif;
}

.big-text {
  font-family: 'IM Fell English SC', serif;
}

#nav-bar {
  width: 100%;
  margin: 0;
  padding: 0;
}

nav.navbar {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.navbar-form {
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
}

.navbar {
  background-color: white;
 /* background:url('/images/footer_lodyas.png');*/
  border-radius: 10px;
  box-shadow: 5px 5px 5px #000000;
}

.main-links {
    font-size: 25px;
    font-weight: bold;
    font-family: 'IM Fell English SC', serif;  
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
}

.footer-container p {
  text-align:left;
  padding:10px 0;
  margin-bottom:0px;
}

.footer-menu {
  list-style-type:none;
  float:right;
  margin-bottom:0px;
  padding:0 20px 0 20px;
}

.footer-menu li {
  float:left;
  line-height:40px;
}

.footer-menu li:not(:last-child):after {
  content:"|";
  margin-right:8px;
  margin-left:8px;
}

.footer-menu li a {
  font-size:14px;
}

#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  background: #00BF96;
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  background: #00816A;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
}